{% extends "base.html" %}

{% block head %}
   <script defer src="../static/metadataform.js"></script>
{% endblock %}

{% block content %}
    <header class="container-fluid d-flex mb-5 mt-3">
        <img src="../static/umculogo.png" class="w-15 h-15 float-start" alt="umcu logo">
        <div class="container row my-3">
        </div>
    </header>

    <section class="container">
        <p class="text-start my-3 fs-1" id="required-information">Required Information
            <span class="text-warning">*</span>
        </p>
        <form action="{{ url_for('metadata.index') }}" method="post">
            <div class="mb-3">
                <label for="depositor" class="form-label">Depositor</label>
                    <div class="input-group mb-3">
                        <input class="form-control" aria-describedby="depositor" type="text" title="depositor" placeholder="Please put the Depositor's name here"  name="depositor" required>
                    </div>
            </div>
            <div class="mb-3">
                <label for="umcu-division" class="form-label">UMCU Division</label>
                <select required name="umcuDivision" class="form-select" aria-label="select division">
                    <option selected>Please select the division</option>
                    <option>Anesthesiology, Intensive Care and Emergency Medicine</option>
                    <option>Cancer Center</option>
                    <option>Education Center</option>
                    <option>Heart and Lungs</option>
                    <option>Imaging</option>
                    <option>Internal Medicine and Dermatology</option>
                    <option>Julius Center for Health Sciences and Primary Care</option>
                    <option>Laboratories, Pharmacy & Biomedical Genetics</option>
                    <option>Neurosciences</option>
                    <option>Pediatrics</option>
                    <option>Surgical Specialties</option>
                    <option>Women and Babies</option>
                </select>
            </div>
            <div class="mb-3">
                <label for="author" class="form-label">Author(s)</label>
                <div class="author-name-group">
                    <div class="input-group mb-3">
                        <input  name="author" required
                            placeholder="Please input the (Last-name, initials) of the research document's author here."
                            title="author" type="text" class="form-control" id="author-name" name="author"
                            aria-describedby="authorHelp">
                        <button class="btn btn-outline-info" type="button" id="add-author"
                            aria-describedby="add an author">
                            <span class="">+</span>
                        </button>
                        <button class="btn btn-outline-danger" hidden type="button" id="remove-author"
                            aria-describedby="add an author">
                            <span class="">-</span>
                        </button>
                    </div>
                </div>
            </div>

            <div class="mb-3">
                <label for="title" class="form-label">Title</label>
                <div class="mb-3">
                    <input name="title" type="text" class="form-control" id="title" placeholder="Please input the title here">
                </div>
                <div class="mb-3">
                    <label for="contact" class="form-label">Contact</label>
                    <div class="input-group contact-group mb-3">
                        <div class="input-group my-3">
                            <span class="input-group-text">Name</span>
                            <input required type="text" title="contact-name" class="form-control" id="contact-name" name="datasetContactName">
                            <span class="input-group-text">Email</span>
                            <input required title="contact-email" type="email" class="form-control" id="contact-email" name="datasetContactEmail">
                            <button class="btn btn-outline-info" type="button" id="add-contact"
                                aria-describedby="add an contact">+</button>
                            <button class="btn btn-outline-danger" hidden type="button" id="remove-contact"
                                aria-describedby="add an author">-</button>
                        </div>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="dsDescripton" class="form-label">Descripton</label>
                    <textarea name="dsDescription" required placeholder="Please describe the research document here. e.g. There are few facts about the role of obedience when committing acts against one’s personal conscience (1961). 
                Most theories suggest that only very disturbed people are capable of administering pain to an ordinary citizen if they are ordered to do so. 
                Our experiment tested people's obedience to authority. " title="Descripton" class="form-control"
                        id="Descriptonname" aria-describedby="DescriptonHelp"></textarea>

                </div>
            </div>
            <div class="mb-3">
                <label for="deposit-date" class="form-label">Deposit date</label>
                <input name="depositDate" required title="deposit-date" type="date" class="form-control" id="deposit-datename"
                    aria-describedby="deposit-dateHelp">

            </div>
            <div class="mb-3">
                <label for="research-type" class="form-label">Research Type</label>
                <select name="researchType" required class="form-select" aria-label="research-type">
                    <option>Basic</option>
                    <option>Therapeutic</option>
                    <option>Medication</option>
                </select>

            </div>
            <div class="mb-3">
                <label for="licence-type" class="form-label">Licence Type</label>
                <select name="licenceType" required class="form-select" aria-label="licence-type">
                    <option>type_1</option>
                    <option>type_2</option>
                    <option>type_3a</option>
                    <option>type_3b</option>
                </select>
            </div>
            <div class="mb-3">
                <label required for="research-end-date" class="form-label">Research End Date</label>
                <input name="researchEndDate" title="research-end-date" type="date" class="form-control" id="research-end-datename"
                    aria-describedby="research-end-dateHelp">

            </div>
            <div class="mb-3">
                <label for="package-type" class="form-label">Package Type</label>
                <select name="packageType" required class="form-select" aria-label="package-type">
                    <option>Replication</option>
                    <option>Final</option>
                </select>
            </div>

            <p class="text-start my-3 fs-1" id="recommened-information">
                Recommended Information
            </p>
            <div class="mb-3">
                <label for="keyword" class="form-label">keyword(s)</label>
                <div class="keyword-name-group">
                    <div class="input-group mb-3 keyword-name">
                        <input name="keyword" placeholder="Please input the name of the research document's keyword here."
                            title="keyword" type="text" class="form-control" aria-describedby="keywordHelp">
                        <button class="btn btn-outline-info" type="button" id="add-keyword"
                            aria-describedby="add an keyword">
                            +
                        </button>
                        <button class="btn btn-outline-danger" hidden type="button" id="remove-keyword"
                            aria-describedby="remove an keyword">
                            -
                        </button>
                    </div>
                    <div class="my-3">
                        <input name="keyword-1" title="keyword" type="text" class="form-control" ` aria-describedby="keywordHelp">
                    </div>
                    <div class="my-3">
                        <input name="keyword-2" title="keyword" type="text" class="form-control" aria-describedby="keywordHelp">
                    </div>
                </div>
            </div>

            <div class="mb-3">
                <label for="related-publication" class="form-label">Related publication(s)</label>
                <div class="related-publication-group">
                    <div class="input-group mb-3">
                        <input type="text" title="related-publication-name" class="form-control"
                            name="relatedPublication">
                        <button class="btn btn-outline-info" type="button" name="add-related-publication"
                            id="add-related-publication" aria-describedby="add a related-publication">+</button>
                        <button class="btn btn-outline-danger" hidden type="button" id="remove-related-publication"
                            aria-describedby="remove a related-publication">-</button>
                    </div>
                </div>
            </div>
            <div class="mb-3">
                <label for="date-range" class="form-label">Date range</label>
                <input name="dateRangeStart" title="date-range-start" type="date" class="form-control" id="date-rangename-start"
                    aria-describedby="date-rangeStart">
                <input name="dateRangeEnd" title="date-range-end" type="date" class="form-control" id="date-rangename-end"
                    aria-describedby="date-rangeEnd">
            </div>
            <div class="mb-3">
                <label for="contributor" class="form-label">Contributor(s)</label>
                <div class="contributor-group">
                    <div class="input-group mb-3">
                        <input name="contributor"
                            placeholder="Please input the (Last-name, initials) of the research document's contributor here."
                            title="contributor" type="text" class="form-control" id="contributor-name"
                            aria-describedby="contributorHelp">
                        <button class="btn btn-outline-info" type="button" id="add-contributor"
                            aria-describedby="add a contributor">
                            <span class="">+</span>
                        </button>
                        <button class="btn btn-outline-danger" hidden type="button" id="remove-contributor"
                            aria-describedby="remove a contributor">
                            <span class="">-</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="mb-3">
                <label for="software" class="form-label">Software used</label>
                <div class="software-group">
                    <div class="input-group mb-3">
                        <input name="software" type="text" title="software-name" class="form-control" name="software-name">
                        <button class="btn btn-outline-info" type="button" name="add-software" id="add-software"
                            aria-describedby="add a software">+</button>
                        <button class="btn btn-outline-danger" hidden type="button" id="remove-software"
                            aria-describedby="remove a software">-</button>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-success">Next >></button>
        </form>
    </section>
{% endblock %}
