<!DOCTYPE html>
<html lang="">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="icon" href="favicon.ico">
    <title>Metadata</title>
    <link href="css/app.ca4296de.css" rel="preload" as="style">
    <link href="js/app.5e9b6fa2.js" rel="preload" as="script">
    <link href="js/chunk-vendors.eacb2f8f.js" rel="preload" as="script">
    <link href="css/app.ca4296de.css" rel="stylesheet">
</head>

<body>
    <div class="mx-3 container">
        <h1>Metadata form</h1>
        <p>Please enter the package metadata (top-level metadata) in the form below. Mandatory fields are indicated with
            an asterisk <span class="text-danger">*</span>.</p>
        <p>Add one author per author field. Use the [+] button to add extra authors. The same for keywords.</p>
        <p>The field "type of research" is mandatory, since it determines the retention period.</p>
        <p>When you are finished filling out the form, use the [Download] button to save the metadata as a file
            metadata.json.</p>
    </div>
    <div id="app">
        <form class="form-horizontal">
            <div class="form-row"><label for="title" class="col-form-label col-lg-2"> Title *
                </label>
                <div class="col-lg-10"><input id="title" name="title" type="text" required="required" aria-required="true"
                        class="form-control">
                </div>
            </div>
            <fieldset class="mb-2">
                <div class="form-row"><label for="authorName#0" class="col-form-label col-lg-2"> Author name * <button
                            type="button" class="btn py-0 my-0 px-1 btn-primary btn-sm">
                                </label>
                    <div class="col-lg-10">
<input id="authorName#0" name="authorName#0" type="text" required="required"
                            aria-required="true" class="form-control is-invalid" aria-invalid="true">



                    </div>
                </div>
            </fieldset>
            <div class="form-row"><label for="dsDescriptionValue" class="col-form-label col-lg-2"> Description *
                </label>
                <div class="col-lg-10"><textarea id="dsDescriptionValue" name="dsDescriptionValue" required="required" rows="3"
                        aria-required="true" class="form-control" wrap="soft"></textarea>
                </div>
            </div>
            <div class="form-row"><label for="language" class="col-form-label col-lg-2"> Language
                </label>
                <div class="col-lg-4"><input id="language" name="language" type="text" readonly="readonly"
                        class="form-control">
                </div><label for="dateOfDeposit" class="col-form-label col-lg-2"> Deposit date *
                </label>
                <div class="col-lg-4"><input id="dateOfDeposit" name="dateOfDeposit" type="date" required="required"
                        aria-required="true" class="form-control">
                    
                </div>
            </div>
            <div class="form-row"><label for="typeOfResearch" class="col-form-label col-lg-2"> Type of research *
                </label>
                <div class="col-lg-10"><select id="typeOfResearch" name="typeOfResearch" required="required" aria-required="true"
                        class="custom-select" type="date">
                        <option value="30">advanced therapeutic medicinal products</option>
                        <option value="25">investigational medicinal products</option>
                        <option value="15">other WMO</option>
                        <option value="15">non-WMO</option>
                        <option value="10">fundamental/pre-clinical</option>
                    </select>
                </div>
            </div>
            <div class="form-row"><label for="timePeriodCoveredStart" class="col-form-label col-lg-2"> Study period
                    start
                </label>
                <div class="col-lg-4"><input id="timePeriodCoveredStart" name="timePeriodCoveredStart" type="text"
                        class="form-control">
                </div><label for="timePeriodCoveredEnd" class="col-form-label col-lg-2"> Study period end
                </label>
                <div class="col-lg-4"><input id="timePeriodCoveredEnd" name="timePeriodCoveredEnd" type="text"
                        class="form-control">
                </div>
            </div>
            <fieldset class="mt-2">
                <div class="form-row"><label for="keywordValue#0" class="col-form-label col-lg-2"> Keyword term *
                       </label>
                    <div class="col-lg-10">
<input id="keywordValue#0" name="keywordValue#0" type="text" required="required"
                            aria-required="true" class="form-control is-invalid" aria-invalid="true">



                    </div>
                </div>
            </fieldset>
            <fieldset class="mt-2">
                <div class="form-row"><label for="datasetId#0" class="col-form-label col-lg-2"> Related datasets </label>
                    <div class="col-lg-10">
<input id="datasetId#0" name="datasetId#0" type="text" class="form-control">



                    </div>
                </div>
            </fieldset>
            <div role="group" class="mt-4 btn-group"></div>
        </form>
        <p class="mt-3 text-warning">Please enter all required fields! Title is required. Author name is required.
            Description is required. Keyword term is required. Related datasets is required. </p>
    </div>
    <script src="js/chunk-vendors.eacb2f8f.js"></script>
    <script src="js/app.5e9b6fa2.js"></script>
</body>

</html>