{% extends "base.html" %}

{% block content %}

  <div class="container mt-5">

    <div class="float-end">
      {% if request.args.get('expand'): %}
        <a href="{{ url_for('navigator.index') }}" class="btn btn-secondary">Contract</a>
      {% else %}
        <a href="{{ url_for('navigator.index') }}?expand=1" class="btn btn-secondary">Expand</a>
      {% endif %}
    </div>

    <h2>File Permissions</h2> </br>

    {%- if back_path|length -%}
      <a href="{{ back_path }}">
        <i class='fas fa-folder'></i> Back
      </a>
    {%- endif %}

    <form action="{{ url_for('navigator.index') }}{{ req_path }}{{ '?expand=1' if request.args.get('expand') }}" method="POST">
    <table class="table">
      {% for entry in entries %}
        <tr>
          <td>
            {% if entry.is_dir %}
              <a href="{{ url_for('navigator.index') }}{{ req_path }}{{ '/' if req_path else '' }}{{ entry.name }}">
                <i class='fas fa-folder'></i>
                {{ entry.name }}
              </a>
            {% else %}
              {{ entry.name }}
            {% endif %}
          </td>
          <td>
            {{ entry.size|filesizeformat }}
          </td>
          <td>
            {% if entry.settable: %}
              <select title="permissions" name="perm_{{ entry.path_md5 }}">
                <option value="" {% if entry.permission == "" %}selected{% endif %}></option>
                <option value="public" {% if entry.permission == "public" %}selected{% endif %}>Public</option>
                <option value="restricted" {% if entry.permission == "restricted" %}selected{% endif %}>Restricted</option>
                <option value="private" {% if entry.permission == "private" %}selected{% endif %}>Private</option>
              </select>
            {% endif %}
          </td>
        </tr>
      {% endfor %}
    </table>

    <input type="submit" class="btn btn-primary" value="Update Permissions"/>
    </form>
  </div>

{% endblock %}
