{% extends "base.html" %}

{% block content %}

  <div class="container mt-5">

    <h2>Import Into Archivematica</h2>

    {% if transfer_directory|length: %}
      <table>
        <tr>
          <td>File count: </td>
          <td><code>{{ transfer_file_count }}</code> <span class="text-muted small">(including generated metadata)</span></td>
        </tr>
        <tr>
          <td>Total size of files: </td>
          <td><code>{{ transfer_total_file_size|filesizeformat }}</code></td>
        </tr>
      </table>
      <br/>

      <p><a href="/files/preview">Preview file permission metadata</a></p>

      {% if transfer_source_dir or department_options|length > 0: %}
      <form action="{{ url_for('upload.index') }}" method="POST">
        {% if not transfer_source_dir and department_options|length > 0: %}
        <p>
        <select name="department_id">
          <option value="">[choose department]</option>
          {% for department in department_options: %}
            <option value="{{department["id"]}}" {{ "selected" if request.form['department_id'] == department["id"] }}>{{department["name"]}}</option>
          {% endfor %}
        </select>
        </p>
        {% endif %}

        <input name="transfer_name" placeholder="Transfer name" />
        <input type="submit" value="Import" class="btn btn-primary"/>
      </form>
      {% else %}
        <b>No transfer source directory available.</b>
      {% endif %}

    {% else %}
      <p>No research data directory specified yet.</p>
    {% endif %}
  </div>

{% endblock %}
