{% extends "base.html" %}

{% block content %}

  <section class="container">

    <h1>Transfer</h1>

    {% if transfer_directory|length: %}
      {% if not transfer_preset: %}
        <p>Current transfer directory: {{ transfer_directory }}</p>
      {% endif %}

      <p>File count: {{ transfer_file_count }}</p>
      <p>Total size of files: {{ transfer_total_file_size|filesizeformat }}</p>

      <p><a href="/files">File permissions</a></p>
    {% endif %}

    {% if not transfer_preset: %}
      <form action="{{ url_for('transfer.update') }}" method="POST">
        <div class="mb-3">
          <label for="transfer_directory" class="form-label">Set transfer directory</label>
          <input name="transfer_directory"/>
        </div>

        <div class="mb-3">
          <input type="submit" value="Submit"/>
        </div>
      </form>
    {% endif %}
  </section>

{% endblock %}
