{% extends "base.html" %}

{% block content %}

  <div class="container mt-5">

    {% if transfer_directory: %}
      <h2>Update Research Data</h2>

      <table>
        <tr>
          <td>File count: </td>
          <td><code>{{ transfer_file_count }}</code> <span class="text-muted small">(including generated metadata)</span></td>
        </tr>
        <tr>
          <td>Total size of files: </td>
          <td><code>{{ transfer_total_file_size|filesizeformat }}</code></td>
        </tr>
      </table>

    {% else %}
      <h2>Upload Research Data</h2>
    {% endif %}

    </br>
    <form action="{{ url_for('transfer.upload') }}" method="POST" enctype="multipart/form-data">
      <input name="files" type="file" webkitdirectory directory />
      <input type=submit value="Upload" class="btn btn-primary"/>
    </form>

  </div>

{% endblock %}
