{% extends "base.html" %}

{% block content %}

  <div class="container mt-5">

    <h2>Select Research Data</h2>

    {% if not transfer_preset: %}
      <p>
        Current research data directory:<br/>
        <code>{{ transfer_directory }}</code>
      </p>

      <form action="{{ url_for('transfer.update') }}" method="POST">
        <div class="mb-3">
          <label for="transfer_directory" class="form-label">Change directory:</label>
          <input name="transfer_directory"/>
        </div>

        <div class="mb-3">
          <input type="submit" value="Set Directory" class="btn btn-primary"/>
        </div>
      </form>

      <form action="{{ url_for('transfer.upload') }}" method="POST" enctype="multipart/form-data">
        <input type=file name=file>
        <input type=submit value="Upload" class="btn btn-primary"/>
      </form>
    {% else %}
      <p>Research data directory set by environment variable.</p>
    {% endif %}

  </div>

{% endblock %}
